/*Glauco eduardo brigido filho 3C*/
body{
    background-color: firebrick;
    color: white;
    margin: 0px;
}
section{
    background-color: black;
    font-size: 30px;
    display: flex;
}
div{
    margin: 20px;
}
iframe{
    height: 400px;
}
header{
    font-size: 50px;
    border-bottom: solid 2px white;
    padding: 20px;
}
img{
    height: 300px;
    margin: 10px;
}
.bah{
    display: flex;
    overflow-x: auto;
    gap: 20px;

    margin-top: 90px;
}
.bah img:hover{
    opacity: 0.5;
    border: 5px solid white;
}